body{
 margin: 0px;
}

.modalview{
 position: fixed;
 top: 0px;
 background-color: rgba(0,0,0,0.);
 width: 100%;
 height: 100%;
 color: white;
}

button{
 position: absolute;
 top: 50px;
}


.modalclose{
 display: none;
}

div.closemodal{
 color: white;
}
